@{
    ViewBag.Title = PopForums.Resources.AccountCreated;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.AccountCreated</h1>
	<h2>@Model.AuthorizationKey</h2>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Validate">Click here after you are done</a> </li>
	</ul>
</div>
<p><a asp-action="Validate">@PopForums.Resources.EditYourProfile</a></p>
